venv/
dlc3_env/
dlc_label_env/
dlc_min_project/
dlc_upload_project/

google-pix-r2r-2025-09-07/
measurement_pairs/
training_cropped_test/
training_cropped_test_resized/
training_new/

__pycache__/
backend/__pycache__/
backend/uploads/
backend/annotated/
training_cropped_50/labeled-data/
training_cropped_50/evaluation-results-pytorch/
training_cropped_50/training-datasets/
training_cropped_50/config.yaml.backup

*.zip
*.mp4


*.mp4
